name: CI
on:
  push:
    branches:
      - master
      - beta
  pull_request:
    paths-ignore:
      - '.gitignore'
      - '.npmignore'
      - '*.md'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1

      - name: Build
        run: yarn build

  publish-module:
    name: 'Publish Module to NPM on Node ${{ matrix.node }} and ${{ matrix.os }}'
    needs: build
    if: github.repository == 'bluebill1049/little-state-machine' && (github.ref == 'refs/heads/master')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: 'Use Node ${{ matrix.node }}'
        uses: actions/setup-node@v1
        with:
          node-version: '${{ matrix.node }}'
          registry-url: 'https://registry.npmjs.org/'
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
      - name: Build
        run: yarn build
      - name: Publish
        run: npx semantic-release
        env:
          NODE_AUTH_TOKEN: '${{secrets.NPM_TOKEN}}'
          GITHUB_TOKEN: '${{secrets.GITHUB_TOKEN}}'
